[project]
name = "defity"
description = "Speedy library to detect file type from initial part of file content"
authors = [
  {name = "Nguyễn Hồng Quân", email = "ng.hong.quan@gmail.com"},
]
maintainers = [
  {name = "Nguyễn Hồng Quân", email = "ng.hong.quan@gmail.com"},
]
readme = "README.md"
requires-python = ">=3.6"
license = {file = "LICENSE"}
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python"
]

[project.urls]
homepage = "https://github.com/hongquan/Defity"
repository = "https://github.com/hongquan/Defity.git"

[project.optional-dependencies]
test = [
  "pytest>=6,<7",
]

[build-system]
build-backend = "maturin"
requires = ["maturin>=0.11.2,<0.12"]

[tool.maturin]
sdist-include = ["Cargo.lock"]
strip = true

# We don't use Poetry to build and publish packages (do with Maturin instead).
# But we use it to setup virtualenv in GH Action,
# and it requires at least these information.
[tool.poetry]
name = "defity"
version = "0.0.0"
description = "Speedy library to detect file type from initial part of file content"
authors = ["Nguyễn Hồng Quân <ng.hong.quan@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.6.1"

[tool.poetry.dev-dependencies]
maturin = "^0.11.2"
Sphinx = "^4.1.2"

[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'

[tool.pytest.ini_options]
minversion = "6.0"
norecursedirs = "__pypackages__ _build"
